.background {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
  
.wheel {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.record {
  position: fixed;
  right: 20px;
  bottom: 20px;
  background-color: #f9e8b2;
  border: 3px solid #7d6450;
  border-radius: 5px;
  padding: 10px;
  font-size: 18px;
  cursor: pointer;
}
.lotteryNum {
  display: flex;
  align-items: center;
  justify-content: center;
}